In [1]:
import numpy as np

In [2]:
revenue_in_yen = [
    300000, 340000, 320000, 360000, 
    440000, 140000, 180000, 340000, 
    330000, 290000, 280000, 380000, 
    170000, 140000, 230000, 390000, 
    400000, 350000, 380000, 150000, 
    110000, 240000, 380000, 380000, 
    340000, 420000, 150000, 130000, 
    360000, 320000, 250000
] # 그냥 리스트형으로 되어있다.

In [53]:
revenue_in_yen_array = np.array(revenue_in_yen) # Numpy array형으로 바꾼다

In [62]:
revenue_in_yen_array

array([300000, 340000, 320000, 360000, 440000, 140000, 180000, 340000,
       330000, 290000, 280000, 380000, 170000, 140000, 230000, 390000,
       400000, 350000, 380000, 150000, 110000, 240000, 380000, 380000,
       340000, 420000, 150000, 130000, 360000, 320000, 250000])

In [65]:
revenue_in_won = revenue_in_yen_array * 10.08 # 곱하기할 때 실수형으로 곱해서 결과에 실수형으로 나옴

In [108]:
print(revenue_in_won)

[3024000. 3427200. 3225600. 3628800. 4435200. 1411200. 1814400. 3427200.
 3326400. 2923200. 2822400. 3830400. 1713600. 1411200. 2318400. 3931200.
 4032000. 3528000. 3830400. 1512000. 1108800. 2419200. 3830400. 3830400.
 3427200. 4233600. 1512000. 1310400. 3628800. 3225600. 2520000.]

In [109]:
revenue_in_won_max = np.max(revenue_in_won)
revenue_in_won_min = np.min(revenue_in_won)
revenue_in_won_avg = np.average(revenue_in_won) # mean = 2,923,200 / average = 2,923,200
print("최대매출 : %0.0f원"%revenue_in_won_max)
print("최소매출 : %0.0f원"%revenue_in_won_min)
print("매출평균 : %0.0f원"%revenue_in_won_avg)

최대매출 : 4435200원
최소매출 : 1108800원
매출평균 : 2923200원

In [103]:
result = str(revenue_in_won)

In [104]:
result

'[3024000. 3427200. 3225600. 3628800. 4435200. 1411200. 1814400. 3427200.\n 3326400. 2923200. 2822400. 3830400. 1713600. 1411200. 2318400. 3931200.\n 4032000. 3528000. 3830400. 1512000. 1108800. 2419200. 3830400. 3830400.\n 3427200. 4233600. 1512000. 1310400. 3628800. 3225600. 2520000.]'

In [105]:
print(result[0]) # 대괄호도 문자로 인식한다.
print(result[-1])

[
]

In [106]:
result1 = result.replace(".","원")

In [107]:
print(result1)

[3024000원 3427200원 3225600원 3628800원 4435200원 1411200원 1814400원 3427200원
 3326400원 2923200원 2822400원 3830400원 1713600원 1411200원 2318400원 3931200원
 4032000원 3528000원 3830400원 1512000원 1108800원 2419200원 3830400원 3830400원
 3427200원 4233600원 1512000원 1310400원 3628800원 3225600원 2520000원]

In [59]:
'''
for i in result :
     #int(i)
    print("%s원"%i,end="\t")
'''

3024000.0원	3427200.0원	3225600.0원	3628800.0원	4435200.0원	1411200.0원	1814400.0원	3427200.0원	3326400.0원	2923200.0원	2822400.0원	3830400.0원	1713600.0원	1411200.0원	2318400.0원	3931200.0원	4032000.0원	3528000.0원	3830400.0원	1512000.0원	1108800.0원	2419200.0원	3830400.0원	3830400.0원	3427200.0원	4233600.0원	1512000.0원	1310400.0원	3628800.0원	3225600.0원	2520000.0원

In [60]:
result.replace(".","원")

AttributeError: 'list' object has no attribute 'replace'

In [32]:
'''
for i in a :
    print(format(i,','),"원",end="\t")
'''

'\nfor i in a :\n    print(format(i,\',\'),"원",end="\t")\n'