In [1]:
import pandas as pd

In [2]:
scientists = pd.DataFrame({
    "Name" : ["Rosaline Franklin","Willliam Gosset"],
    "Occupation" :["Chemist","Statician"],
    "Born" : ["1920-07-25","1876-06-13"],
    "Died" : ["1958-04-16","1937-10-16"],
    "Age" : [37,61]})
print(scientists)

                Name Occupation        Born        Died  Age
0  Rosaline Franklin    Chemist  1920-07-25  1958-04-16   37
1    Willliam Gosset  Statician  1876-06-13  1937-10-16   61

In [3]:
scientists = pd.DataFrame(
data={"Occupation" :["Chemist","Statician"],
    "Born" : ["1920-07-25","1876-06-13"],
    "Died" : ["1958-04-16","1937-10-16"],
    "Age" : [37,61]},
index=["Rosaline Franklin","Willliam Gosset"],
columns=["Occupation","Born","Died","Age"])
print(scientists)

                  Occupation        Born        Died  Age
Rosaline Franklin    Chemist  1920-07-25  1958-04-16   37
Willliam Gosset    Statician  1876-06-13  1937-10-16   61

In [8]:
from collections import OrderedDict

scientists = pd.DataFrame([
    ("Name",["Rosaline Franklin","Willliam Gosset"]),
    ("Occupation",["Occupation","Statician"]),
    ("Born",["1920-07-25","1876-06-13"]),
    ("Died",["1958-04-16","1937-10-16"]),
    ("Age",[37,61])
])
print(scientists)
print(type(scientists[0])) # dataframe의 인덱스값은 column 기준

            0                                     1
0        Name  [Rosaline Franklin, Willliam Gosset]
1  Occupation               [Occupation, Statician]
2        Born              [1920-07-25, 1876-06-13]
3        Died              [1958-04-16, 1937-10-16]
4         Age                              [37, 61]
<class 'pandas.core.series.Series'>

In [9]:
# set형을 딕셔너리형과 같은 형태로 출력
scientists = pd.DataFrame(OrderedDict([
    ("Name",["Rosaline Franklin","Willliam Gosset"]),
    ("Occupation",["Occupation","Statician"]),
    ("Born",["1920-07-25","1876-06-13"]),
    ("Died",["1958-04-16","1937-10-16"]),
    ("Age",[37,61])
]))
print(scientists)

                Name  Occupation        Born        Died  Age
0  Rosaline Franklin  Occupation  1920-07-25  1958-04-16   37
1    Willliam Gosset   Statician  1876-06-13  1937-10-16   61