## 1.17_reindex

In [2]:
import pandas as pd

In [3]:
dict_data = {"c0" : [1,2,3], "c1" : [4,5,6], "c2":[7,8,9,],"c3":[10,11,12],"c4":[13,14,15]}

In [4]:
df = pd.DataFrame(dict_data,index=["r0","r1","r2"])
df

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

In [5]:
# 인덱스를 [r0, r1, r2, r3, r4] 로 재지정
new_index = ["r0", "r1", "r2", "r3", "r4"] # 원본 데이터에는 네 번째와 다섯 번째의 레코드가 없기 때문에 "NaN"으로 값이 출력
ndf = df.reindex(new_index)
ndf

     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN

In [7]:
# reindex로 발생한 NaN값을 숫자 0으로 채우기 how? fill_value 메소드를 이용해서
new_index = ["r0", "r1", "r2", "r3", "r4"]
ndf2 = df.reindex(new_index, fill_value=0)
ndf2

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
r3   0   0   0   0   0
r4   0   0   0   0   0