### 여기서는 Seaborn 라이브러리에서 제공하는 데이터셋 중에서 타이타닉(titanic) 데이터셋을 사용한다.

In [2]:
# 라이브러리 불러오기
import pandas as pd
import seaborn as sns

In [3]:
# titanic 데이터셋에서 age, fare 2개 열을 선택하여 데이터프레임 만들기
titanic = sns.load_dataset("titanic")

### 1. 행렬 Chk

In [6]:
# .shape
print(titanic.shape,"\n")
# .info()
print(titanic.info(),"\n")
print(titanic.index) # RangeIndex(start=0, stop=891, step=1)

(891, 15)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
survived       891 non-null int64
pclass         891 non-null int64
sex            891 non-null object
age            714 non-null float64
sibsp          891 non-null int64
parch          891 non-null int64
fare           891 non-null float64
embarked       889 non-null object
class          891 non-null category
who            891 non-null object
adult_male     891 non-null bool
deck           203 non-null category
embark_town    889 non-null object
alive          891 non-null object
alone          891 non-null bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB
None

RangeIndex(start=0, stop=891, step=1)

### 2. column명 Chk

In [ ]:
# .columns # 열에 해당하는 columns를 리스트형으로 보여준다.
print(len(titanic.columns))
titanic.columns

### 7. 연령대별 사망자수 0 - 10 ~ 70 - 80 : 남녀 사망자수

In [7]:
titanic.sort_values(["age"])
for i in  :

ValueError: cannot convert float NaN to integer