## 1.09_select_row01

In [14]:
import pandas as pd

In [2]:
exam_data = {"수학":[90,80,70],"영어":[98,89,95],
             "음악":[85,95,100],"체육":[100,90,90]}

In [4]:
df = pd.DataFrame(exam_data,index=["서준","우현","인아"])
df

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [7]:
# 행 인덱서를 사용하여 행 1개를 선택
label1 = df.loc["서준"] # loc 인덱서 활용
position1 = df.iloc[0] # iloc 인덱서 활용
print(label1,"\n")
print(position1)

수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64

수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64

## 1.09_select_row02

In [9]:
# 행 인덱스를 사용하여 2개 이상의 행 선택
label2 = df.loc[["서준","우현"]]
position2 = df.iloc[[0,1]]
print(label2)
position2

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90

In [12]:
# 행 인덱스의 범위를 지정하여 행 선택
label3 = df.loc["서준":"우현"]
position3 = df.iloc[0:1]
print(label3)
position3

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90

    수학  영어  음악   체육
서준  90  98  85  100

## 1.10_select_column01

In [17]:
exam_data = {"이름" : ["서준","우현","인아"],
            "수학" : [90,80,70],
            "영어" : [98,89,95],
            "음악" : [85,95,100],
            "체육" : [100,90,90]}
df = pd.DataFrame(exam_data)
print(type(df))
df

<class 'pandas.core.frame.DataFrame'>

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

In [18]:
# 수학 점수 데이터만 선택. 변수 math1에 저장
math1 = df["수학"]
print(type(math1))
math1

<class 'pandas.core.series.Series'>

0    90
1    80
2    70
Name: 수학, dtype: int64

In [19]:
# 영어 점수 데이터만 선택. 변수 english에 저장
english = df.영어
print(english)
print(type(english))

0    98
1    89
2    95
Name: 영어, dtype: int64
<class 'pandas.core.series.Series'>