In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({"Animal" : ["falcon","falcon","parrot","parrot","falcon","parrot"],
                  "Max speed" : [380.0, 370.0, 24.0,26.0 ,360.0 ,25.0 ] })
df

   Animal  Max speed
0  falcon      380.0
1  falcon      370.0
2  parrot       24.0
3  parrot       26.0
4  falcon      360.0
5  parrot       25.0

In [4]:
df.groupby(["Animal"]).mean()

        Max speed
Animal
falcon      370.0
parrot       25.0