In [1]:
import pandas as pd

In [2]:
scientists = pd.read_csv("./../../DoItPandas/data/scientists.csv")

In [3]:
print(scientists["Born"].dtype)
print(scientists.Died.dtype)

object
object

In [4]:
born_datetime = pd.to_datetime(scientists["Born"], format="%Y-%m-%d")
print(born_datatime)

NameError: name 'born_datatime' is not defined

In [5]:
died_datetime = pd.to_datetime(scientists.Died, format="%Y-%m-%d")
print(died_datetime)

0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [6]:
died_datetime2 = died_datetime - born_datetime

In [20]:
print(died_datetime2)

0   13779 days
1   22404 days
2   32964 days
3   24345 days
4   20777 days
5   16529 days
6   15324 days
7   28422 days
dtype: timedelta64[ns]

In [18]:
scientists['Born_dt'], scientists["Died_dt"] = (born_datetime, died_datetime)
scientists.head(3)

,Name,Born,Died,Age,Occupation,Born_dt,Died_dt,age_days_dt
0,Rosaline Franklin,1920-07-25,1958-04-16,37,Chemist,1920-07-25,1958-04-16,13779 days
1,William Gosset,1876-06-13,1937-10-16,61,Statistician,1876-06-13,1937-10-16,22404 days
2,Florence Nightingale,1820-05-12,1910-08-13,90,Nurse,1820-05-12,1910-08-13,32964 days

In [12]:
print(scientists.shape)

(8, 7)

In [17]:
scientists["age_days_dt"] = (scientists["Died_dt"] - scientists.Born_dt)

In [16]:
scientists

,Name,Born,Died,Age,Occupation,Born_dt,Died_dt,age_days_dt
0,Rosaline Franklin,1920-07-25,1958-04-16,37,Chemist,1920-07-25,1958-04-16,13779 days
1,William Gosset,1876-06-13,1937-10-16,61,Statistician,1876-06-13,1937-10-16,22404 days
2,Florence Nightingale,1820-05-12,1910-08-13,90,Nurse,1820-05-12,1910-08-13,32964 days
3,Marie Curie,1867-11-07,1934-07-04,66,Chemist,1867-11-07,1934-07-04,24345 days
4,Rachel Carson,1907-05-27,1964-04-14,56,Biologist,1907-05-27,1964-04-14,20777 days
5,John Snow,1813-03-15,1858-06-16,45,Physician,1813-03-15,1858-06-16,16529 days
6,Alan Turing,1912-06-23,1954-06-07,41,Computer Scientist,1912-06-23,1954-06-07,15324 days
7,Johann Gauss,1777-04-30,1855-02-23,77,Mathematician,1777-04-30,1855-02-23,28422 days