In [12]:
import pandas as pd

In [13]:
data = {'name' : [ 'Jerry','Riah','Paul'],
       'algol' : ["A","A+","B"],
       "basic" : ["C","B","B+"],
       "c++" : ["B+","C","C+"]
       }

In [20]:
df = pd.DataFrame(data)
df

    name algol basic c++
0  Jerry     A     C  B+
1   Riah    A+     B   C
2   Paul     B    B+  C+

In [22]:
df.set_index('name', inplace=True) # 'name' 열을 인덱스로 지정
df

      algol basic c++
name
Jerry     A     C  B+
Riah     A+     B   C
Paul      B    B+  C+

In [11]:
# to_csv() 메소드를 사용하여 CSV 파일로 내보내기. 파일명은 df_sample.csv로 저장
df.to_csv("./../../Test_Sample/df_sample.csv")