## 1.25_df_to_number

### 여기서는 Seaborn 라이브러리에서 제공하는 데이터셋2) 중에서 타이타닉( titanic ) 데이터셋을 사용한다.

In [1]:
import pandas as pd
import seaborn as sns

In [2]:
# titanic 데이터셋에서 age, fare 2개 열을 선택하여 DataFrame 만들기
titanic = sns.load_dataset("titanic")

In [3]:
# columns에 어떤게 있는지 확인, 몇 행 몇 열인지 확인.
print(titanic.columns,"\n",titanic.shape)

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')
 (891, 15)

In [4]:
df = titanic.loc[:,["age","fare"]]

In [5]:
print(type(df))
print(df.head())

<class 'pandas.core.frame.DataFrame'>
    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500

In [6]:
# DataFrame에 숫자 10 더하기
addition = df + 10
print(type(addition))
print(addition.head())

<class 'pandas.core.frame.DataFrame'>
    age     fare
0  32.0  17.2500
1  48.0  81.2833
2  36.0  17.9250
3  45.0  63.1000
4  45.0  18.0500

## 1.26_df_to_df

In [7]:
print(type(df))
print(df.tail())

<class 'pandas.core.frame.DataFrame'>
      age   fare
886  27.0  13.00
887  19.0  30.00
888   NaN  23.45
889  26.0  30.00
890  32.0   7.75

In [8]:
# DataFrame끼리 연산하기 ( addition - df )
subtraction = addition - df
print(type(subtraction))
print(subtraction.tail())

<class 'pandas.core.frame.DataFrame'>
      age  fare
886  10.0  10.0
887  10.0  10.0
888   NaN  10.0
889  10.0  10.0
890  10.0  10.0