In [39]:
import pandas as pd
import numpy as np

In [55]:
deptDB = pd.read_csv("./../../DoItPandas/data/sawonDB/deptDB.csv",
                     header=None,
                     names=["deptno", "dname", "loc"]) # deptno(부서번호), dname(부서이름), loc(부서 지역)
sawonDB = pd.read_csv("./../../DoItPandas/data/sawonDB/sawonDB.csv",
                      header=None,
                      names=["sabun", "saname", "deptno", "sajob", "sapay","sahire","sasex","samgr"]) # sahire(입사일), samgr(매니저) 
gogekDB = pd.read_csv("./../../DoItPandas/data/sawonDB/gogekDB.csv",
                      header=None,
                      names=["gobun", "goname", "gotel", 'gojumin', "godam"]) # godam(고객담당)
# ' 작은 따옴표를 공백으로 바꿔주기
deptDB = deptDB.replace("\'","",regex=True) 
sawonDB = sawonDB.replace("\'","",regex=True)
gogekDB = gogekDB.replace("\'","",regex=True)

# 공백을 잘라주기 (문자열에만 사용가능)
deptDB['dname'] = deptDB['dname'].str.strip()
deptDB['loc'] = deptDB['loc'].str.strip()

sawonDB['saname'] = sawonDB['saname'].str.strip()
sawonDB['sajob'] = sawonDB['sajob'].str.strip()
sawonDB['sahire'] = sawonDB['sahire'].str.strip()
sawonDB['sasex'] = sawonDB['sasex'].str.strip()
sawonDB['sajob'] = sawonDB['sajob'].str.strip()
sawonDB['samgr'] = sawonDB['samgr'].str.strip() # 다 숫자값인데 첫번째 값이 null 값이라 str. 속성이 적용가능 한 거 같다.

gogekDB['goname'] = gogekDB['goname'].str.strip()
gogekDB['gotel'] = gogekDB['gotel'].str.strip()
gogekDB['gojumin'] = gogekDB['gojumin'].str.strip()

## Q01. SawonDB 데이터에서 입사년도가 88년도인 레코드 출력

In [56]:
for i in range(len(sawonDB)) :
    if sawonDB['sahire'][i][0:4] == '1988' :
        print(sawonDB.iloc[[i]])

   sabun saname  deptno sajob  sapay      sahire sasex samgr
1      2    한국남      20    부장   3000  1988/11/01    남자     1
   sabun saname  deptno sajob  sapay      sahire sasex samgr
9     19    임꺽정      20    사원   2200  1988/04/01    남자     7
    sabun saname  deptno sajob  sapay      sahire sasex samgr
14     10    공부해      30    사원   1303  1988/11/01    남자     4