In [1]:
import pandas as pd

In [2]:
deptDB = pd.read_csv("./../../DoItPandas/data/sawonDB/deptDB.csv",
                     header=None,
                     names=["deptno", "dname", "loc"]) # deptno(부서번호), dname(부서이름), loc(부서 지역)
sawonDB = pd.read_csv("./../../DoItPandas/data/sawonDB/sawonDB.csv",
                      header=None,
                      names=["sabun", "saname", "deptno", "sajob", "sapay","sahire","sasex","samgr"]) # sahire(입사일), samgr(매니저) 
gogekDB = pd.read_csv("./../../DoItPandas/data/sawonDB/gogekDB.csv",
                      header=None,
                      names=["gobun", "goname", "gotel", 'gojumin', "godam"]) # godam(고객담당)
deptDB = deptDB.replace("\'","",regex=True) 
sawonDB = sawonDB.replace("\'","",regex=True)
gogekDB = gogekDB.replace("\'","",regex=True)

In [4]:
deptDB.head()

   deptno dname  loc
0      10   총무부   서울
1      20   영업부   대전
2      30   전산부   부산
3      40   관리부   광주

In [5]:
sawonDB.tail(3)

    sabun saname  deptno sajob  sapay       sahire sasex samgr
17     15    최진실      10    사원   2000   1991/04/01    여자    12
18     16    김유신      30    사원    400   1981/04/01    남자     4
19     18    강감찬      30    사원   1003   1986/07/01    남자     4

In [6]:
gogekDB.head(3)

   gobun goname      gotel         gojumin  godam
0      1     뷰민   123-1234  700113-1537915    3.0
1      2     강민  1343-1455  690216-1627914    2.0
2      3     영희   144-1655  750320-2636215    NaN