In [1]:
import pandas as pd

In [2]:
deptDB = pd.read_csv("./../../DoItPandas/data/sawonDB/deptDB.csv",
                     header=None,
                     names=["deptno", "dname", "loc"]) # deptno(부서번호), dname(부서이름), loc(부서 지역)
sawonDB = pd.read_csv("./../../DoItPandas/data/sawonDB/sawonDB.csv",
                      header=None,
                      names=["sabun", "saname", "deptno", "sajob", "sapay","sahire","sasex","samgr"]) # sahire(입사일), samgr(매니저) 
gogekDB = pd.read_csv("./../../DoItPandas/data/sawonDB/gogekDB.csv",
                      header=None,
                      names=["gobun", "goname", "gotel", 'gojumin', "godam"]) # godam(고객담당)
# ' 작은 따옴표를 공백으로 바꿔주기'
# ex) deptDB = deptDB.replace("\'","",regex=True)
# =~ deptDB['dname'].str.strip("'") & deptDB['loc'].str.strip("'") # 'deptno'는 int값이라 str.속성이 안된다.
deptDB = deptDB.replace("\'","",regex=True)
sawonDB = sawonDB.replace("\'","",regex=True)
gogekDB = gogekDB.replace("\'","",regex=True)

# 공백을 잘라주기 (문자열에만 사용가능)
deptDB['dname'] = deptDB['dname'].str.strip()
deptDB['loc'] = deptDB['loc'].str.strip()

sawonDB['saname'] = sawonDB['saname'].str.strip()
sawonDB['sajob'] = sawonDB['sajob'].str.strip()
sawonDB['sahire'] = sawonDB['sahire'].str.strip()
sawonDB['sasex'] = sawonDB['sasex'].str.strip()
sawonDB['sajob'] = sawonDB['sajob'].str.strip()
sawonDB['samgr'] = sawonDB['samgr'].str.strip() # 다 숫자값인데 첫번째 값이 null이라 str. 속성이 적용가능 한 거 같다.

gogekDB['goname'] = gogekDB['goname'].str.strip()
gogekDB['gotel'] = gogekDB['gotel'].str.strip()
gogekDB['gojumin'] = gogekDB['gojumin'].str.strip()

In [3]:
deptSawon = deptDB.merge(sawonDB, how='inner', on='deptno')

## Q7. sawonDB에서 전산부 직원의 평균연봉 출력

In [7]:
sawon_cv = deptSawon[deptSawon['dname'] == '전산부' ]
print(f"전산부 직원의 평균 연봉 :{sawon_cv['sapay'].mean() : .1f}만원")

전산부 직원의 평균 연봉 : 1959.7만원