In [1]:
import pandas as pd
import seaborn as sns

In [2]:
titanic = sns.load_dataset('titanic')

## 5. 성별 생존자 수

In [3]:
titanic['survived'].unique()

array([0, 1], dtype=int64)

In [4]:
titanic['sex'].unique()

array(['male', 'female'], dtype=object)

In [5]:
survived_cnt = titanic[titanic['survived'] == 1 ]
survived_cnt.groupby(['sex'])['survived'].count()

sex
female    233
male      109
Name: survived, dtype: int64