In [1]:
import pandas as pd

In [5]:
sawonDB = pd.read_csv("./../../DoItPandas/data/sawonDB/sawonDB.csv",
                      header=None,
                      names=["sabun", "saname", "deptno", "sajob", "sapay","sahire","sasex","samgr"])
sawonDB = sawonDB.replace("\'","",regex=True)
sawonDB['saname'] = sawonDB['saname'].str.strip()
sawonDB['sajob'] = sawonDB['sajob'].str.strip()
sawonDB['sahire'] = sawonDB['sahire'].str.strip()
sawonDB['sasex'] = sawonDB['sasex'].str.strip()

    sabun saname  deptno sajob  sapay      sahire sasex samgr
17     15    최진실      10    사원   2000  1991/04/01    여자    12
18     16    김유신      30    사원    400  1981/04/01    남자     4
19     18    강감찬      30    사원   1003  1986/07/01    남자     4

## Q10. 이름을 입력받은 후 해당 사원의 연봉을 출력

In [10]:
input_name = input('사원의 이름을 입력하세요 : ')
name_pay = sawonDB[sawonDB['saname'] == input_name]
print("%s님의 급여는 %d만원입니다. " %(input_name, name_pay['sapay']))

사원의 이름을 입력하세요 : 김유신
김유신의 급여는 400만원입니다.

## Q11. 이름을 입력받은 후 해당 사원의 월급이 3000 이상이면 '상위소득자', 2000이상 3000이하면 '중간소득자', 그 외의 급여면 '월급 조정 대상자' 라고 출력

In [11]:
input_name = input('사원의 이름을 입력하세요 : ')
name_pay = sawonDB[sawonDB['saname'] == input_name]
if name_pay['sapay'] >= 3000 :
    print(f"{input_name}님은 상위소득자입니다.")
elif 2000 <= name_pay['sapay'] < 3000 :
    print("%s님은 중간소득자입니다." %input_name)
else :
    print("%s님은 월급 조정 대상자입니다." %input_name)

사원의 이름을 입력하세요 : 김유신

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().