In [27]:
import pandas as pd

In [37]:
deptDB = pd.read_csv("./../../DoItPandas/data/sawonDB/deptDB.csv",header=None,names=["deptno", "dname", "loc"]) # deptno(부서번호), dname(부서이름), loc()
sawonDB = pd.read_csv("./../../DoItPandas/data/sawonDB/sawonDB.csv",header=None,names=["sabun", "saname", "deptno", "sajob", "sapay","sahire","sasex","samgr"]) # sajob, sapay, sahire(입사일), sasex, samgr(매니져) 
gogekDB = pd.read_csv("./../../DoItPandas/data/sawonDB/gogekDB.csv",header=None,names=["gobun", "goname", "gotel", 'gojumin', "godam"]) # gobun, goname, gotel, gojumin, godam(고객담당)

In [36]:
deptDB

   deptno   dname    loc
0      10   '총무부'   '서울'
1      20   '영업부'   '대전'
2      30   '전산부'   '부산'
3      40   '관리부'   '광주'

In [34]:
sawonDB.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 8 columns):
sabun     19 non-null int64
saname    19 non-null object
deptno    19 non-null int64
sajob     19 non-null object
sapay     19 non-null int64
sahire    19 non-null object
sasex     19 non-null object
samgr     19 non-null int64
dtypes: int64(4), object(4)
memory usage: 1.3+ KB