In [2]:
import pandas as pd

In [3]:
deptDB = pd.read_csv("./../../DoItPandas/data/sawonDB/deptDB.csv",header=None,names=["deptno", "dname", "loc"]) # deptno(부서번호), dname(부서이름), loc()
sawonDB = pd.read_csv("./../../DoItPandas/data/sawonDB/sawonDB.csv",header=None,names=["sabun", "saname", "deptno", "sajob", "sapay","sahire","sasex","samgr"]) # sahire(입사일), samgr(매니져) 
gogekDB = pd.read_csv("./../../DoItPandas/data/sawonDB/gogekDB.csv",header=None,names=["gobun", "goname", "gotel", 'gojumin', "godam"]) # godam(고객담당)

In [4]:
deptDB = deptDB.replace("\'","",regex=True)
sawonDB = sawonDB.replace("\'","",regex=True)
gogekDB = gogekDB.replace("\'","",regex=True)

## Q01. SawonDB 데이터에서 입사년도가 88년도인 레코드 출력

### 방법 1.

In [5]:
for i in range(len(sawonDB)) :
    if sawonDB["sahire"][i][1:5] == '1988' : # if sawonDB.iloc[:,5][i][3:5] == "88"
        #print(sawonDB['saname'][i])
        print(sawonDB.iloc[[i]])

   sabun saname  deptno sajob  sapay       sahire sasex samgr
1      2    한국남      20    부장   3000   1988/11/01    남자     1
   sabun saname  deptno sajob  sapay       sahire sasex samgr
9     19    임꺽정      20    사원   2200   1988/04/01    남자     7
    sabun saname  deptno sajob  sapay       sahire sasex samgr
14     10    공부해      30    사원   1303   1988/11/01    남자     4

### 방법 2.

In [9]:
sawon_sahire = (sawonDB.iloc[:,5][1:5]== "1988") #sawonDB.iloc[:,5] == sawonDB["sahire"]
# sawon_sahire
# print(sawonDB.loc[[True,False,True]])

## Q02. SawonDB 데이터에서 4월에 입사한 사원을 출력.

In [10]:
for i in range(len(sawonDB)) :
    if sawonDB["sahire"][i][6:8] == "04" :
        #print(sawonDB["saname"][i])
        print(sawonDB.iloc[[i]])

   sabun saname  deptno sajob  sapay       sahire sasex samgr
9     19    임꺽정      20    사원   2200   1988/04/01    남자     7
    sabun saname  deptno sajob  sapay       sahire sasex samgr
13      4    이미라      30    대리   2503   1983/04/01    여자    17
    sabun saname  deptno sajob  sapay       sahire sasex samgr
17     15    최진실      10    사원   2000   1991/04/01    여자    12
    sabun saname  deptno sajob  sapay       sahire sasex samgr
18     16    김유신      30    사원    400   1981/04/01    남자     4

## Q03. SawonDB 데이터에서 사원번호가 짝수인 사람 출력.

### 방법 1.

In [11]:
for i in range(len(sawonDB)) :
    if sawonDB["sabun"][i] % 2 == 0 :
        #print(sawonDB["saname"][i])
        print(sawonDB.iloc[[i]])
# type(sawonDB["sabun"])

   sabun saname  deptno sajob  sapay       sahire sasex samgr
1      2    한국남      20    부장   3000   1988/11/01    남자     1
   sabun saname  deptno sajob  sapay       sahire sasex samgr
6     14    채시라      20    사원   3400   1993/10/01    여자     3
    sabun saname  deptno sajob  sapay       sahire sasex samgr
10     20    깨똥이      10    과장   4500   1990/05/01    남자    13
    sabun saname  deptno sajob  sapay       sahire sasex samgr
11      6    공부만      30    과장   4003   1995/05/01    남자    17
    sabun saname  deptno sajob  sapay       sahire sasex samgr
12      8    채송화      30    대리   1703   1992/06/01    여자    17
    sabun saname  deptno sajob  sapay       sahire sasex samgr
13      4    이미라      30    대리   2503   1983/04/01    여자    17
    sabun saname  deptno sajob  sapay       sahire sasex samgr
14     10    공부해      30    사원   1303   1988/11/01    남자     4
    sabun saname  deptno sajob  sapay       sahire sasex samgr
15     12    뷰명한      10    대리   1800   1990/10/01    남자    20
    sabun saname  deptno sajob  sapay       sahire sasex samgr
18     16    김유신      30    사원    400   1981/04/01    남자     4
    sabun saname  deptno sajob  sapay       sahire sasex samgr
19     18    강감찬      30    사원   1003   1986/07/01    남자     4

pandas.core.series.Series

### 방법 2

In [13]:
aaa = sawonDB[sawonDB["sabun"] % 2 == 0]

## Q04. SawonDB 데이터에서 직위별 급여 평균을 출력.

In [14]:
group_sajob = sawonDB.groupby("sajob") # sawonDB.groupby('sajob')['sapay'].mena()
print(group_sajob['sapay'].mean())

sajob
 과장    3180.600000
 대리    2002.000000
 부장    2934.333333
 사원    1575.750000
 회장    5000.000000
Name: sapay, dtype: float64

## Q05. SawonDB 데이터에서 직위별, 성별 급여평균을 출력

### 방법 1.

In [15]:
group_sajob_sasex = sawonDB.groupby(["sajob","sasex"])
print(group_sajob_sasex["sapay"].mean())

sajob  sasex
 과장     남자      4001.0
        여자      1950.0
 대리     남자      1800.0
        여자      2103.0
 부장     남자      2901.5
        여자      3000.0
 사원     남자      1226.5
        여자      1925.0
 회장     남자      5000.0
Name: sapay, dtype: float64

### 방법 2.

In [24]:
unique_sajob = sawonDB['sajob'].unique()
unique_sasex = sawonDB['sasex'].unique()
for i in unique_sajob :
    sajob_list = sawonDB[sawonDB['sajob'] == i ]
    # print(i, end=" ")
    for j in unique_sasex :
        sajob_sasex = sajob_list[sajob_list['sasex'] == j ]
        print(f"{i} 중 {j}의 급여 평균 : {sajob_sasex['sapay'].mean()}만원")

 회장 중  남자의 급여 평균 : 5000.0만원
 회장 중  여자의 급여 평균 : nan만원
 부장 중  남자의 급여 평균 : 2901.5만원
 부장 중  여자의 급여 평균 : 3000.0만원
 과장 중  남자의 급여 평균 : 4001.0만원
 과장 중  여자의 급여 평균 : 1950.0만원
 사원 중  남자의 급여 평균 : 1226.5만원
 사원 중  여자의 급여 평균 : 1925.0만원
 대리 중  남자의 급여 평균 : 1800.0만원
 대리 중  여자의 급여 평균 : 2103.0만원